@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Watch Shows and Movies Anytime,Anywhere!</h1>
    <p class="lead">So you like watching videos?? Here at Vidly, you can rent movies at very reasonable prices.We have something for everyone from latest series, kids shows to blockbuster movies.</p>
    <p class="lead"> Join us today!</p>
</div>

